.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#root > div > header > div > div:nth-child(7) {
  font-size: 50px !important;
}
#root
  > div
  > header
  > div
  > div:nth-child(8)
  > div:nth-child(1)
  > div:nth-child(2)
  > div:nth-child(1) {
  font-size: 25px !important;
}

#root > div > header > div > div:nth-child(8) {
  width: 200px !important;
}
#root > div > header > div > div:nth-child(8) > div {
  font-size: 20px !important;
}
#root > div > header > div > div:nth-child(9) > a {
  font-size: 20px !important;
}

button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 25px;
  cursor: pointer;
  outline: none;
}
